.settings-page {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.settings-reset-button {
    position: absolute;
    bottom: 32px;
    right: 32px;
    z-index: 15;
}

.mud-main-content.has-bottom-nav .settings-reset-button {
    bottom: calc(32px + var(--bottom-nav-height));
}
